
*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
    text-decoration: none;
	list-style: none;
}

html{
	font-size: 16px;
}	

body{
	background-color: #020a13;
	color: #fff;
	font-family: 'Roboto';
}


h1, h2, h3, h4{
	font-family: 'Kanit';
}

h1{
    color:#6086AB;
	font-size: 5rem;
}



h2{
    color:#6086AB;
	font-size: 3rem;
}

h3{
    color:#6086AB;
}

h4{
    color:#5e5aa8;
}

.estiloBoton{
    color:#fff !important;
    border-color: #fff !important;
    background-color: #214161;
}

.estiloBoton:hover{
    color:#fff !important;
    border-color: #fff !important;
    background-color: #335576;
}

.estiloBotonInicio{
    color:#fff !important;
    border-color: #fff !important;
    background-color: #214161;
}

.estiloBotonInicio:hover{
    color:#fff !important;
    border-color: #fff !important;
    background-color: #335576;
}


 
.wrap{
	margin: 0 auto;
	width:80%;
    max-width: 1400px;
  
}

.header-top{
    height: auto;
    width: 100%;
    background-image: url('../imagenes/fondo.webp');
    background-repeat: repeat;
    animation: animatedBackground 90s linear infinite;
}


#container{
	position: fixed;
	margin:0 auto;
	width:80%;
	max-width: 1400px;
    
}


#logo img{
	width:40%;
    margin:50px 0 0 ;
}

#logo2{
    display:none;
}

#logo2 img{
    width:20%;
}

.menu{
	top:0;
	left:0;
	right:0;
	display: flex;
	align-items:center;
	justify-content: space-between;
	z-index: 5;
}  

.menu .navbar  li{
	float:left;
}

.menu .navbar  li a{
	padding:15px;
}

.menu .navbar ul li a{
	font-family: 'Kanit';
	font-size: 18px;
	padding:0 30px 0 !important;
	color:#665e5e;
	display:block;
}

.menu .navbar ul li a:hover{
	color:#1caed0;
}

#menu{
	display:none;
}

.menu-icono{
	width:25px;
}

.menu label{
	cursor: pointer;
	display:none;
}

@keyframes animatedBackground {
    from { background-position: 0px 0; }
    to { background-position: -562px 0; }
  }

  .lenguaje{
    position:absolute;
    top:50px;
    right:10%;
    z-index: 20; 
}

.lenguaje img{
    width:40px;
    height: auto;
}

.lenguaje ul{
    position: absolute;
}

.lenguaje li{
    list-style: none;
    display: inline-block;
    padding:0 0 0 15px;
}

.inicio{
    position:relative;
	padding:250px 0 260px;
}

.botonInicio2{
    display: none;
}

.inicio img{
    width:60%;
}

.inicio p{
    font-size: 1.8rem;
    color:#fff;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}



.avatar2{
	transform: translatey(20px);
	animation: float 8s ease-in-out infinite;
    width: auto;
    height: 100px;
	position:absolute;
    right:60px;
}

.avatar2 img{
   
    float:right;
}

.avatar3{
	transform: translatey(20px);
	animation: float 10s ease-in-out infinite;
	position:absolute;
    width: auto;
    height: 100px;
    right:100px;
    top:420px;
}

.avatar3 img{
    float:right;
}

.avatar4{
	transform: translatey(20px);
	animation: float 5s ease-in-out infinite;
    width: auto;
    height: 100px;
	position:absolute;
    right:480px;
    top:460px;
}

.avatar4 img{
    float:right;
}

.avatar5{
	transform: translatey(20px);
	animation: float 8s ease-in-out infinite;
	position:absolute;
    width: auto;
    height: 100px;
    right:370px;
    top:320px;
}

.avatar5 img{
    float:right;
}

.avatar6{
	transform: translatey(20px);
	animation: float 13s ease-in-out infinite;
	position:absolute;
    width: auto;
    height: 100px;
    right:490px;
    top:220px;
}

.avatar6 img{
    float:right;
}

.montana{
    position: absolute;
    margin:675px 0 0;
}

.montana img{ 
    width: 100vw;
}

.offcanvas {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	}

    #menuLateral{
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        }

#navbar{
    padding:15px 0 0 !important;
    margin:30px auto 0;
    width:60%;
}

.navbar {
    letter-spacing: 5px;
    font-size: 1rem;
}

.navbar a{
    color:#fff !important;
}

.navbar a:hover{
    color:#aaa7e7 !important;
}

.dropdown-menu a:hover{
    color:#0c0f42 !important;
    background-color: #f7dddd !important;   

}

.dropdown-menu{
    background-color: #191d5d !important;   
}

/* PERSONALIZACION MENU HAMBURGUESA */

nav, .navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.equis{
  background-color:#fff;
}

.navbar-toggler:hover {
    background-color: #191d5d;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 177, 91, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 177, 91, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#acerca{
    padding:100px 0 ;
	background-color: #061527;
    text-align: center;
}

#acerca img{
    width:60%;
}

#acerca p{
    padding:0 15px;
}

#acerca h2{
    padding:0 0 80px;
}

#pestanas{
    padding:100px 0 0;
}

#pestanas h2{
    padding:0 0 50px;
}

#proyectoPestana1, #proyectoPestana2{
    cursor: pointer;
}

#pestanas a{
    color:#fff;
    border: 1px solid rgb(166, 163, 163);
}

#pestanas a:hover{
    color:#fff;
    background-color: #061527;
    
}

.wrapDisenos{
    width:50%;
    margin:0 auto;
}

.activo{
    background-color: #061527;
}

.activo a{
    color:#fff !important;
}


#proyectos{
    padding:100px 0 ;

}

#proyectos h2{
    padding:0 0 80px;
}

#proyectos .btn{
    margin:0 20px;
}

.proyectoMovil{
    display:none;
}

.diseno img{
    width:40%;
}

.disenoTexto{
    padding:0 0 0 100px;
}

.disenoTexto hr{
    padding:20px 0;
}

.adobe{
    padding:30px 0;
}

.adobe img{
    padding:0 30px 0 0;
}

.disenoMargin{
    margin-top:150px;
}

.galeriaDiseno button{
    width:80px;
    margin:15px 20px 0 0;
}

.galeriaDiseno button{
    opacity:2;
    filter:alpha(opacity=20);
    -ms-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
}
.galeriaDiseno button:hover{
    opacity:0.4;
    filter:alpha(opacity=4);
    -ms-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.galeriaFotosGrande img{
    width:90%;
}

.ilustracion{
    width:60%;
    text-align: center;
    margin:0 auto;
    padding:30px;
    background-color: #f7eded;
    border-radius: 50%;
    border:8px solid #5e5aa8;
}

.herramientas p{
    font-size:1.2rem ;
}

.contenedor{
    width:100% !important;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.columnaImagenes{
    width:40%;
    height:auto;
    margin:20px 5% 50px;
}

.columnaImagenes h3{
    text-align: center;
    padding:0 0 10px;
}

.efectoImagenes{
    position: relative;
    overflow: hidden;
}

.efectoImagenes img{
    width:100%;
    height:100%;
    transition: all .3s;   
}

.efectoImagenes:hover img{
    filter:blur(1.5px);
    transform:scale(1.5);
    transition: all .3s; 
   
}

.icono img{
    margin:0 10px;
    filter:blur(0) !important;
    width:20px;
}

.efectoImagenes::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transition: all .3s;
}

.efectoImagenes:hover:before{
    background: rgba(10, 10, 10, 0.8);
    z-index: 2;
    transition: all .3s;

}

.texto{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    color:#fff;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo,.parrafo{
    margin: 10px;
    padding:5px 10px;
}

.titulo{
    position:relative;
    left:100%;
    transition: all .3s;
}

.efectoImagenes:hover .titulo{
    left:0;
    animation-delay: .3s ;
    transition: all .3s;
}

.parrafo{
    position:relative;
    right:100%;
    transition: all .3s;
}

.efectoImagenes:hover .parrafo{
    right:0;
    animation-delay: .3s ;
    transition: all .3s;
}

.goto-top{
    position:fixed;
    bottom:50px;
    right:40px;
    width:75px;
    height:50px;
}

#contacto{
    padding:100px 0 ;
	background-color: #061527;
    position:relative;
}



footer{
    padding:0 0 20px;
}

footer ul{
    text-align: center;
}

footer li{
    list-style: none;
    display: inline-block;
    padding:0 30px;
}

.efectoHover {
    opacity:2;
    filter:alpha(opacity=20);
    -ms-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
    border: none !important;
}

.efectoHover:hover{
    opacity:0.4;
    filter:alpha(opacity=4);
    -ms-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.contactoWrap{
    margin:0 auto;
    width:70%;
}

.containerForm p, h2{
    text-align: center;
    
}

.formP{
    padding:30px 0;
}

.containerForm hr{
    
    padding:0;
    width:95%;
    display:block;
    margin:0 auto;
    border: none;
    height: 3px;
    background: #fff;

}

.sectionForm .containerForm {
    width: 80%;
    padding: 20px;
}
.sectionForm .containerForm .formRow {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.sectionForm .containerForm .formRow .colForm {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    transition: 0.5s;
}
.sectionForm .containerForm .formRow .colForm .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
    
}
.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    z-index: 1;
    color: #fff;
}
.sectionForm .containerForm .formRow .colForm .inputBox .text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
    background-color: #44505d;
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid ~ .line {
    height: 100%;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    height: 100px;
    resize: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid ~ .line {
    height: 100%;
}
input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background-color: #350b10;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.alertaRoja{
    color: #ff0000;
    font-weight: 500;
    font-size: 18px;
}
.alertaVerde{
    color: #2d572c;
    font-weight: 500;
    font-size: 18px;
}





