/* 
{
  outline: 1px solid red !important;
}
*/

* {
  box-sizing: border-box;
}

:root {
  --bs-primary: #f2f6ff;
  --bs-secondary: #6ea6f5;
  --bs-complementary: #aebdd1;
  --bs-warning: #f89b61;
  --bs-warning-hover: #df864f;
  --bs-body-bg: #e0edff;
  --bs-text-color: #1e1e1e;
  --bg-image:url('../img/fondo-light.jpg');
  --bg-footer: #020a13;
}

body.dark-mode {
  --bs-primary: #061527;
  --bs-secondary: #0777bf;
  --bs-complementary: #4d93be;
  --bs-warning: #b70983;
  --bs-warning-hover: #7c0d5b;
  --bs-body-bg: #020a13;
  --bs-text-color: #ffffff;
  --bg-image:url('../img/fondo-dark.webp');
  --bg-footer: #020a13;
}

body.dark-mode .navbar {
  background-color: #1e1e1e;
}

body.dark-mode .nav-link {
  color: #ffffff !important;
}

body.dark-mode .nav-link:hover {
  color: #ffcc00 !important;
}

.btn-toggle {
  margin-left: 0.5rem;
}


body {
  background-color: var(--bs-body-bg);
  color: var(--bs-text-color);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* takes up remaining space */
}

header {
  background-color: var(--bs-primary);
}

h1, h2, h3{
	font-family: 'Kanit';
	color: var(--bs-secondary);
}

h1{
  font-size: 3rem;
}

h4{
	font-family: 'Kanit';
	color: var(--bs-complementary);
}

.navbar {
  font-family: 'Kanit';
  font-size: 1.2rem;
}

.mainMenu li{
  padding:0 30px;
}

@media (max-width:768px){
.mainMenu li{
  padding:0;
}
}

.btn{
  background-color: var(--bs-warning);
  color:#fff;
}

.botonEfecto{
  margin:40px 0 0 7px;
}

.botonEfecto  a{
    border: none;
    padding: 12px 24px;
    background-color: var(--bs-warning);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;    
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.botonEfecto  a:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: -7px;
    left: -7px;
    border-top: 2px solid var(--bs-warning);
    border-left: 2px solid var(--bs-warning);
}

.botonEfecto  a:hover:before {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.botonEfecto  a:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -7px;
    right: -7px;
    border-bottom: 2px solid var(--bs-warning);
    border-right: 2px solid var(--bs-warning);
}

.botonEfecto  a:hover:after {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.botonEfecto a:hover {
    background-color: var(--bs-warning);
}


.botonEfecto input {
    border: none;
    padding: 12px 24px;
    background-color: var(--bs-warning);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.botonEfecto input:before,
.botonEfecto input:after {
    content: '';
    position: absolute;
    transition: all 0.5s ease; /* Transition for the border expansion */
    border-color:var(--bs-warning);
    z-index: 2;
}

.botonEfecto input:before {
    top: -5px;
    left: -5px;
    width: 24px;
    height: 24px;
    border-top: 2px solid;
    border-left: 2px solid;
}

.botonEfecto input:after {
    bottom: -5px;
    right: -5px;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.botonEfecto input:hover {
    background-color: var(--bs-warning); /* Change background on hover */
}

.botonEfecto input:hover:before {
    transform: scale(4); /* Scale the border effect */
    top: -12px; /* Adjust the position after scaling */
    left: -12px;
}

.botonEfecto input:hover:after {
    transform: scale(4); /* Scale the border effect */
    bottom: -12px; /* Adjust the position after scaling */
    right: -12px;
}


/*estrellas*/
.background-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw; /* Use viewport width instead of 200% */
  height: 100vh; /* Use viewport height */
  background: var(--bg-image) repeat;
  background-size: cover;
  z-index: -1;
  animation: moveStars 90s linear infinite;
  pointer-events: none; /* Optional: avoid capturing clicks */
}


@keyframes moveStars {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.floating-img-1 {
  position: absolute;
  width: 80px;
  z-index: 2;
  animation: float 5s ease-in-out infinite;
}

.floating-img-2 {
  position: absolute;
  width: 80px;
  z-index: 2;
  animation: float 3s ease-in-out infinite;
}

.floating-1 {
  top: 20%;
  left: 20%;
}

.floating-2 {
  bottom: 25%;
  right: 15%;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#mainInicio{
  height:500px;
}

.profile-image{
  max-width: 80%; 
  border: 8px solid var(--bs-secondary) !important; 
  z-index: 1;
}

.profile-image-movil{
  display:none;
}

.estatico {
  position: absolute;
  width: 60px;
  height: auto;
  z-index: 0;
  transition: transform 0.5s ease;
}

.estatico-1 {
  top: 0;
  left: 18%;
}

.estatico-2 {
  top: 0;
  right: 18%;
}

.estatico-3 {
  bottom: 1%;
  left: 14%;
}

.estatico-4 {
  bottom: 0;
  right: 15%;
}

.estatico-5 {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.social-icons a:hover {
  color: var(--bs-warning); /* Pink highlight on hover */
  transition: color 0.3s ease;
}

.btn-toggle {
  margin-left: 5px;
}

.mountain-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 10px; /* Optional: reduce spacing if needed */
}

.mountain-image {
  width: 100%;
  height: auto;
  display: block;
}


#acerca {
  padding: 150px 0 50px;
  background-color: var(--bs-primary);
  text-align: center;
}

#acerca img {
  width: 60%;
}

#acerca p {
  padding: 0 15px;
}

#acerca h2 {
  padding: 0 0 50px;
  font-size: 3rem;
}

.wrapAcerca {
  width: 50%;
  margin: 0 auto 70px;
}

.herramientas img {
  width: 50px !important;
  padding: 30px 5px;
}

.ilustracion {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  background-color: #f2f6ff;
  border-radius: 50%;
  border: 8px solid var(--bs-complementary);
}

.tooltip {
  background-color: #ba0520 !important;
  font-size: 16px !important;
}

.tooltip > .tooltip-inner {
  background-color: #020a13;
}

#websites h2{
  padding: 0 0 50px;
  font-size: 3rem;
}


.contenedor{
    width:100% !important;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.columnaImagenes{
    width:40%;
    height:auto;
    margin:20px 5% 50px;
}

.columnaImagenes h3{
    text-align: center;
    padding:0 0 10px;
}

.efectoImagenes{
    position: relative;
    overflow: hidden;
}

.efectoImagenes img{
    width:100%;
    height:100%;
    transition: all .3s;   
}

.efectoImagenes:hover img{
    filter:blur(1.5px);
    transform:scale(1.5) !important;
    transition: all .3s; 
   
}

.icono img{
    margin:0 10px;
    filter:blur(0) !important;
    width:20px;
}

.social ul{
    padding:15px 0 0 !important;
}


.social li{
    margin:0 25px 0 0!important;
    position: relative;
    display: inline-block;
    text-align: left;
}

.social i{
    color:var(--bs-complementary) ;
}

.flag {
  width: 30px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.flag.active {
  filter: none !important;
}

.efectoImagenes::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transition: all .3s;
}

.efectoImagenes:hover:before{
    background: rgba(10, 10, 10, 0.8);
    z-index: 2;
    transition: all .3s;

}

.texto{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    color:#fff;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo,.parrafo{
    margin: 10px;
    padding:5px 10px;
}

.titulo{
    position:relative;
    left:100%;
    transition: all .3s;
}

.efectoImagenes:hover .titulo{
    left:0;
    animation-delay: .3s ;
    transition: all .3s;
}

.parrafo{
    position:relative;
    right:100%;
    transition: all .3s;
}

.efectoImagenes:hover .parrafo{
    right:0;
    animation-delay: .3s ;
    transition: all .3s;
}

.wrapProyectos p{
    padding:0 0 50px;
}

.wrapDisenos{
    width:50%;
    margin:0 auto;
}

.activo{
    background-color: #061527;
}

.activo a{
    color:#fff !important;
}

.form-check-input {
    cursor: pointer;
  }

  .form-check-input:checked {
    background-color: #212529;
    border-color: #212529;
  }

  .theme-switch {
    display: flex;
    align-items: center;
  }

  .form-check-label {
    margin-left: 8px;
    font-size: 0.875rem;
  }

  .goto-top{
    position:fixed;
    bottom:30px;
    right:20px;
    width:75px;
    height:50px;
}

#themeToggle {
  width: 50px;
  height: 20px;
  cursor: pointer;
}

/* Customize the switch appearance */
.theme-switch .form-check-input {
  background-color: #ddd;
  border: 2px solid #999;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.theme-switch .form-check-input:checked {
  background-color: #333;
  border-color: #fff;
}

body.dark-mode #themeToggle {
  box-shadow: 0 0 10px 3px #fafaf8;
}


/* Improve the label visibility */
#themeLabel {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;

}

.theme-label-dark {
  color: white;
}

.theme-label-light {
  color: #6ea6f5 !important;
}

.nav-bg {
  background-color: var(--bs-body-bg) !important;
  border-bottom: 3px solid var(--bs-warning);
}


#websites{
    padding:150px 0 50px;
    background: var(--bs-body-bg);

}

#websites h2{
    padding:0 0 80px;
}

#websites .btn{
    margin:0 20px;
}

.proyectoMovil{
    display:none;
}


.boton-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.boton-links a {
    text-decoration: none;
    position: relative;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 3px solid var(--bs-warning);
    font-size: 16px;
    letter-spacing: 3px;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 1;
}

.boton-links a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 40px solid var(--bs-warning);
    border-bottom: 40px solid var(--bs-warning);
    border-right: 40px solid transparent;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(-100%);
}

.boton-links a:hover:before {
    transform: translateX(0);


}

.boton-links a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 40px solid var(--bs-warning);
    border-bottom: 40px solid var(--bs-warning);
    border-left: 40px solid transparent;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(100%);
}

.boton-links a:hover:after {
    transform: translateX(0);
}

.boton-links a:hover {
    color: #fff;
}

.container-links{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

#contacto{
    padding:100px 0 50px;
	background-color: var(--bs-primary);
    position:relative;
}

#contacto h2{
  font-size: 3rem;
  margin:0 0 50px;
}

.efectoHover {
    opacity:2;
    filter:alpha(opacity=20);
    -ms-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;
    border: none !important;
}

.efectoHover:hover{
    opacity:0.4;
    filter:alpha(opacity=4);
    -ms-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.contactoWrap{
    margin:0 auto;
    width:70%;
}

.containerForm p, h2{
    text-align: center;
    
}

.botonForm{
    padding:10px 50px;
}

.formP{
    padding:30px 0;
}

.containerForm hr {
    margin: 0 auto;
    width: 97%;
    height: 3px;
    background-color: var(--bs-secondary);
    border: none;
    opacity: 1;                
    display: block;
}

.sectionForm .containerForm {
    width: 80%;
    padding: 20px;
}
.sectionForm .containerForm .formRow {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.sectionForm .containerForm .formRow .colForm {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    transition: 0.5s;
}
.sectionForm .containerForm .formRow .colForm .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
    
}
.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0px 10px;
    z-index: 1;
    color: #fff;
}
.sectionForm .containerForm .formRow .colForm .inputBox .text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
    background-color: var(--bs-secondary);
}
.sectionForm .containerForm .formRow .colForm .inputBox input:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid ~ .line {
    height: 100%;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0px;
}
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
    height: 100px;
    resize: none;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid + .text {
    left: -10px;
    top: -35px;
}
.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid ~ .line {
    height: 100%;
}
input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background-color: #350b10;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text{
  color:var(--bs-text-color);
}


footer h5{
  font-family: 'Kanit';
}

footer i{
  color:var(--bs-warning) !important;
}

