
@media  (min-width: 769px) and (max-width: 992px){
    #proyectos p{
        font-size: 0.8rem;
    }

    #proyectos h3{
        font-size: 1.3rem;
    }
    
}

@media  (min-width: 300px) and (max-width: 576px){
    #proyectos p{
        font-size: 0.8rem;
    }

    #proyectos h3{
        font-size: 1.3rem;
    }
}



@media  (min-width: 300px) and (max-width: 768px){
    .columnaImagenes{
        width:80%;
        margin:20px 5%;
    }

    .herramientas {
        margin:0 0 100px; 
    }
}