/*acerca*/
@media  (min-width: 769px) and (max-width: 1000px){
    #acerca p{
        font-size:0.8rem;
    }

    #acerca h4{
        font-size:1.1rem;
    }
}

@media  (min-width: 320px) and (max-width: 768px){
    .herramientas{
        padding:0 0 50px;
    }

    .wrapAcerca{
        width:100%;
    }

}

@media  (min-width: 601px) and (max-width: 768px){
    .columnaAcerca{
        width:100% !important;
        padding:30px 0;
    }
    
    .ilustracion{
        float:left !important;
        width:30%;
        margin:0 40px 0 0;
    }

    #acerca h3{
        padding:0 !important;
    }

    #acerca p{
        margin:0 !important;
        font-size: 0.8rem;
    }

    #acerca h4{
        padding:20px 0 0;
    }

    .herramientas{
        overflow: hidden;
    }

    .estiloBotonInicio{
        margin:30px auto;
        display: block;
    }

}

@media  (min-width: 481px) and (max-width: 600px){
    .estiloBotonInicio{
        margin:30px auto;
        display: block;
    }
}

@media  (min-width: 900px) and (max-width: 1024px){
    .herramientas img{
        width:45px !important;
        padding:30px 5px;
    }

}



/*Proyectos*/
@media  (min-width: 320px) and (max-width: 768px){


    .efectoImagenes{
        display:none;
    }

    .proyectoMovil{
        display:block;
        padding:0 0 75px;
    }

    #websites .btn{
        margin:0 10px;
    }

    .columnaImagenes{
        width:100% !important;
   
    }

    #flechabtn {
        display:none !important;
    }

    .wrapDisenos{
        width:70%;
    }

    .disenoTexto{
        padding:0 3%;
    }

    .disenoTexto h3{
        padding:150px 0 0;
        text-align: center;
    }

    .adobe{
        text-align: center;
    }

    .disenoMargin{
        margin-top:20px;
    }

    #item1, #item2, #item3{
        display:none;
    }

    #modal3{
        display:none;
    }

    .diseno2{
        display:block;
    }

    
   .diseno2 img{
    width:80%;
    display: block;
    margin:0 auto;
   }

   .adobe{
    display:none;
   }

   .adobe2{
    display:block;
    padding:30px 0;
    text-align: center;
   }

   .adobe2 img{
    padding:0 30px ;
   }

   .galeriaDiseno button{
    width:50px;
    margin:15px 10px 0;
}

.galeriaDiseno {

    text-align: center;
}

.galeriaFotosGrande img{
    width:80%;
    
}

.galeriaFotosGrande{
    margin:10px 0 ;
}

#galeria1, #galeria2, #galeria3, #galeria4 {
    text-align: center;
}

.container-links{
    margin:50px 0 0;
}

}

@media  (min-width: 320px) and (max-width: 360px){

    #pestanas h2{
        font-size: 2rem ;
    }

    #websites {
        padding:50px 0 0;
    }

    #websites h3{
        font-size: 1.5rem ;
    }

    #websites p{
        font-size: 0.8rem ;
        padding:20px 0 0;
    }

    .boton-links a {
        width:90px;
        height: 30px;
        font-size: 13px;
    }

    .container-links{
        gap: 30px;
    }

}

@media  (min-width: 361px) and (max-width: 411px){
    .boton-links a {
        width:100px;
        height: 30px;
        font-size: 13px;
    }

}


@media  (min-width: 361px) and (max-width: 480px){
    #websites h3{
        font-size: 2rem ;
    }

    #websites p{
        font-size: 0.9rem ;
        padding:20px 0 0;
    }
}

@media  (min-width: 481px) and (max-width: 768px){
    #websites h3{
        font-size: 2rem ;
    }

    #websites p{
        font-size: 1rem ;
        padding:20px 0 0;
    }
}

@media  (min-width: 769px) and (max-width: 800px){
    #websites p{
        font-size: 1.1rem;
    }

    #websites h3{
        font-size: 2.5rem;
    }

    .columnaImagenes{
        width:80% !important;
   
    }
}

@media  (min-width: 801px) and (max-width: 993px){
    #websites p{
        font-size: 0.8rem;
        padding:0;
    }

    #websites h3{
        font-size: 1.6rem;
    }

    .columnaImagenes{
        width:40% !important;
    }

    .icono{
        display: none;
    }



}

@media  (min-width: 994px) and (max-width: 1100px){
    #websites p{
        font-size: 0.8rem;
        padding:0;
    }

    #websites h3{
        font-size: 1.7rem;
    }

    .columnaImagenes{
        width:40% !important;
    }



    .icono img{
        width:15px;
    }



}

@media  (min-width: 769px) and (max-width: 1100px){
    #modal3 img{
        max-width: 700px !important;
      }

      .galeriaDiseno button{
        width:60px;
        margin:15px 10px 0 0;
    }

    .container-links{
        gap: 20px;
    }

    .boton-links a {
        width: 100px;
        height: 30px;
        font-size: 13px;

    }

    }    

@media  (min-width: 1101px) and (max-width: 1280px){
    #websites p{
        font-size: 0.9rem;
    }

    #websites h3{
        font-size: 1.7rem;
    }

    .icono img{
        width:15px;
    }

    .container-links{
        gap: 30px;
    }

    .boton-links a {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;

    }

}


/*footer*/

@media (min-width: 801px) and (max-width: 1024px) {
.socialF i{
    font-size: 2rem;
}

#flechabtn img{
    width:60%;
}

.goto-top{
    bottom:53px;
    right:5px;
}


}

@media (min-width:769px) and (max-width: 800px) {
    .socialF i{
        font-size: 1.5rem !important;
    }

    .socialF li{
        margin:0 20px 0 0!important;
    }

    footer p{
        font-size: 0.8rem !important;
    }

    #flechabtn img{
        width:40%;
    }

    .goto-top{
        bottom:40px;
        right:5px;
    }

}

@media (min-width:320px) and (max-width: 480px) {
    .socialF {
    text-align: center;    
    }

    footer hr{
        display:block;
        margin:30px 0;
    }

}