
@media  (min-width: 999px) and (max-width: 1200px){
    .avatar2{
          right:10px;
    }
        .avatar3{
          right:50px;
    }
        .avatar4{
          right:430px;
    }
        .avatar5{
          right:320px;
    }
        .avatar6{
          right: 420px;
    }

}

@media  (min-width: 769px) and (max-width: 998px){
    #proyectos p{
        font-size: 0.8rem;
    }

    #proyectos h3{
        font-size: 1.3rem;
    }

    .avatar2{
        right:2px;
  }
      .avatar3{
        right:10px;
  }
      .avatar4{
        right:320px;
  }
      .avatar5{
        right:260px;
  }
      .avatar6{
        right: 350px;
  }

  h1{
    font-size:3rem;
  }

  .inicio{
	padding:200px 0 200px;
}

.montana{
    margin:575px 0 0;
}

    
}

@media (max-width: 768px) {
    .offcanvas {
    background-color: #020a13;
  }
    .navbar-nav > li:hover {
      background-color: #0f3b44;
    }
}

@media  (min-width: 300px) and (max-width: 768px){
    .columnaImagenes{
        width:80%;
        margin:20px 5%;
    }

    .herramientas {
        margin:0 0 100px; 
    }

    #headerIzq{
        padding:0;
        float:right;
        width:100%;
    }
    
    #headerIzq img{
        width:40%;
        margin:30px auto 0;
        display: block;
    }
    
    #headerDer{
        float:left;
        width:100%;
        
    }

    #lenguaje ul{
        display:none;
    }

    .efectoImagenes{
        display:none;
    }

    .proyectoMovil{
        display:block;
    }

    .proyectoMovil p{
        font-size: 1.2rem;
    }

    .proyectoMovil h3{
        font-size: 2rem;
    }

    #proyectos .btn{
        margin:0 10px;
    }
}

@media  (min-width: 300px) and (max-width: 576px){
    #proyectos p{
        font-size: 0.8rem;
    }

    #proyectos h3{
        font-size: 1.3rem;
    }
}